.canvas-container {
    background: #f2f2f2;
    outline: solid 1px #303640;
}

body
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

pre
{
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.tick
{
    color: #5DA423;
}

.dim
{
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1 !important;
    background-color:black;
}

.mid{
    width:32px;
    height:32px;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-16px; /* negative half the size of height */
    margin-left:-16px; /* negative half the size of width */
}